<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT skill ANY>
<!ATTLIST skill id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT navigationLink ANY>
<!ATTLIST navigationLink id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT project ANY>
<!ATTLIST project id ID #REQUIRED>
<!ELEMENT webPage ANY>
<!ATTLIST webPage id ID #REQUIRED>
]>
<root id="-1">
  <webPage id="1068" key="6633b1b7-4b84-4358-8c2e-41e688be2af3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-25T13:18:29" updateDate="2017-09-21T16:48:43" nodeName="Portfolio" urlName="portfolio" path="-1,1068" isDoc="" nodeType="1067" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="webPage">
    <mountainShadowColor><![CDATA[ #008081]]></mountainShadowColor>
    <backgroundColor><![CDATA[#fffbdf]]></backgroundColor>
    <keyColor><![CDATA[#fef764]]></keyColor>
    <secondaryColor><![CDATA[#8fd2d5]]></secondaryColor>
    <mountainDarkColor><![CDATA[#0d4d5e ]]></mountainDarkColor>
    <skyGreadient><![CDATA[0deg, #D6FBFF 2%, #D6FBFF 3%, #d6fbff 11%, #008080 46%, #008080 47%]]></skyGreadient>
    <home id="1069" key="db17cbe1-bf4c-403b-8781-3ab459e27570" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2017-08-25T15:13:01" updateDate="2017-09-21T16:48:43" nodeName="test" urlName="test" path="-1,1068,1069" isDoc="" nodeType="1061" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="1060" nodeTypeAlias="home">
      <subheading><![CDATA[Test Subheading]]></subheading>
      <heading><![CDATA[Test Heading]]></heading>
      <page id="1071" key="e0dac3ef-4051-4070-b057-3931bd2dd1ac" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2017-09-21T16:21:16" updateDate="2017-09-21T16:48:43" nodeName="About" urlName="about" path="-1,1068,1069,1071" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[About me subheading]]></subheading>
        <heading><![CDATA[About me]]></heading>
        <content><![CDATA[<p>some about me content</p>]]></content>
        <skill id="1081" key="f7e04f97-a4c4-4db1-8d6d-daf55eddadd2" parentID="1071" level="4" creatorID="0" sortOrder="0" createDate="2017-09-22T10:56:11" updateDate="2017-09-22T10:56:11" nodeName="asp.net" urlName="aspnet" path="-1,1068,1069,1071,1081" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[ASP.NET MVC  subheading]]></subheading>
          <heading><![CDATA[ASP.NET MVC ]]></heading>
          <content><![CDATA[<p>bl bla</p>]]></content>
        </skill>
        <skill id="1082" key="1e8a9d09-afa5-4bdd-b4c0-0bd5527c2d22" parentID="1071" level="4" creatorID="0" sortOrder="1" createDate="2017-09-22T10:57:10" updateDate="2017-09-22T11:05:31" nodeName="MS SQL" urlName="ms-sql" path="-1,1068,1069,1071,1082" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[SQL Server subheading]]></subheading>
          <heading><![CDATA[MS SQL Server]]></heading>
          <content><![CDATA[<p>blabla</p>]]></content>
        </skill>
        <skill id="1083" key="6defe3b6-abcf-4da7-850d-bee567202b11" parentID="1071" level="4" creatorID="0" sortOrder="2" createDate="2017-09-22T10:58:37" updateDate="2017-09-22T10:58:37" nodeName="Entity Framework" urlName="entity-framework" path="-1,1068,1069,1071,1083" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[Entity Framework]]></subheading>
          <heading><![CDATA[Entity Framework]]></heading>
          <content><![CDATA[<p>bl bla</p>]]></content>
        </skill>
        <skill id="1084" key="c3d33add-20fc-49ed-a5d4-5713581b559b" parentID="1071" level="4" creatorID="0" sortOrder="3" createDate="2017-09-22T10:59:03" updateDate="2017-09-22T10:59:03" nodeName="Umbraco" urlName="umbraco" path="-1,1068,1069,1071,1084" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[Umbraco CMS subheading ]]></subheading>
          <heading><![CDATA[Umbraco CMS]]></heading>
          <content><![CDATA[<p>bl bla</p>]]></content>
        </skill>
        <skill id="1085" key="24e26485-cd54-4281-97a3-fc79dadbbe8f" parentID="1071" level="4" creatorID="0" sortOrder="4" createDate="2017-09-22T10:59:54" updateDate="2017-09-22T10:59:54" nodeName="HTML" urlName="html" path="-1,1068,1069,1071,1085" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[HTML 5 subheading]]></subheading>
          <heading><![CDATA[HTML 5]]></heading>
          <content><![CDATA[<p>bla lajlaj</p>]]></content>
        </skill>
        <skill id="1086" key="7d4aec04-1ace-41ae-9d6a-18d7cae42022" parentID="1071" level="4" creatorID="0" sortOrder="5" createDate="2017-09-22T11:00:16" updateDate="2017-09-22T11:00:16" nodeName="CSS" urlName="css" path="-1,1068,1069,1071,1086" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[CSS 3 subheading]]></subheading>
          <heading><![CDATA[CSS 3]]></heading>
          <content><![CDATA[<p>bla bla</p>]]></content>
        </skill>
        <skill id="1087" key="3fb68f87-ae14-42aa-aaad-f673fbb1a063" parentID="1071" level="4" creatorID="0" sortOrder="6" createDate="2017-09-22T11:00:45" updateDate="2017-09-22T11:00:45" nodeName="Javascript" urlName="javascript" path="-1,1068,1069,1071,1087" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[Javascript sub]]></subheading>
          <heading><![CDATA[Javascript]]></heading>
          <content><![CDATA[<p>bl bakja</p>]]></content>
        </skill>
        <skill id="1088" key="e9863bd8-e885-48ec-bff7-c1da80aabbd9" parentID="1071" level="4" creatorID="0" sortOrder="7" createDate="2017-09-22T11:02:11" updateDate="2017-09-22T11:02:11" nodeName="jQuery" urlName="jquery" path="-1,1068,1069,1071,1088" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[jQuery sub]]></subheading>
          <heading><![CDATA[jQuery]]></heading>
          <content><![CDATA[<p>blalja</p>]]></content>
        </skill>
        <skill id="1089" key="5178c5ca-d8b4-43cc-8085-a938b497e1f3" parentID="1071" level="4" creatorID="0" sortOrder="8" createDate="2017-09-22T11:02:41" updateDate="2017-09-22T11:02:41" nodeName="Bootstrap" urlName="bootstrap" path="-1,1068,1069,1071,1089" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[Bootstrap sub]]></subheading>
          <heading><![CDATA[Bootstrap ]]></heading>
          <content><![CDATA[<p>blabakjhka</p>]]></content>
        </skill>
        <skill id="1090" key="86a19ded-d691-40b4-83da-060fd0a7e661" parentID="1071" level="4" creatorID="0" sortOrder="9" createDate="2017-09-22T11:03:22" updateDate="2017-09-22T11:03:43" nodeName="AngularJS" urlName="angularjs" path="-1,1068,1069,1071,1090" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[Angular sub]]></subheading>
          <heading><![CDATA[AngularJS]]></heading>
          <content><![CDATA[<p>jahjahj a</p>]]></content>
        </skill>
        <skill id="1091" key="803f9ed7-011f-4475-aec2-9dc98504291b" parentID="1071" level="4" creatorID="0" sortOrder="10" createDate="2017-09-22T11:18:48" updateDate="2017-09-22T11:18:48" nodeName="C#" urlName="c" path="-1,1068,1069,1071,1091" isDoc="" nodeType="1079" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="skill">
          <subheading><![CDATA[C# subheading]]></subheading>
          <heading><![CDATA[C#]]></heading>
          <content><![CDATA[<p>design patterns </p>]]></content>
        </skill>
      </page>
      <page id="1072" key="48e51638-dce9-46a9-9ca6-71a5b3604288" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2017-09-21T16:21:54" updateDate="2017-09-21T16:48:43" nodeName="Work" urlName="work" path="-1,1068,1069,1072" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[My work subheading]]></subheading>
        <heading><![CDATA[My work]]></heading>
        <content><![CDATA[<p>some work text</p>]]></content>
        <project id="1076" key="7cecb547-dd6a-4d23-a7a0-5b37557d6446" parentID="1072" level="4" creatorID="0" sortOrder="0" createDate="2017-09-21T16:24:33" updateDate="2017-09-21T16:48:43" nodeName="Realocate" urlName="realocate" path="-1,1068,1069,1072,1076" isDoc="" nodeType="1066" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="project">
          <subheading><![CDATA[ASP.net mvc 5 app subheaading ]]></subheading>
          <heading><![CDATA[ASP.net mvc 5 app]]></heading>
          <demoURL><![CDATA[http://realocatechezza.azurewebsites.net/]]></demoURL>
          <codeURL><![CDATA[https://github.com/MichaelaIvanova/ReaLocate]]></codeURL>
          <image><![CDATA[umb://media/cdf3c90c4d2345edab5f3df1c532b8f1]]></image>
        </project>
        <project id="1078" key="62c5e55b-d97c-4955-8779-c969fef0724d" parentID="1072" level="4" creatorID="0" sortOrder="1" createDate="2017-09-21T16:28:12" updateDate="2017-09-21T16:48:43" nodeName="Seo Analyser" urlName="seo-analyser" path="-1,1068,1069,1072,1078" isDoc="" nodeType="1066" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="project">
          <subheading><![CDATA[Seo Analyser subheading ]]></subheading>
          <heading><![CDATA[Seo Analyser]]></heading>
          <content><![CDATA[<p>some info</p>]]></content>
          <demoURL><![CDATA[http://seoanalyzer.azurewebsites.net/]]></demoURL>
          <codeURL><![CDATA[https://github.com/MichaelaIvanova/Seo-Analyzer]]></codeURL>
          <image><![CDATA[umb://media/ec48219c37ed4a0494b25e0cb17cae0f]]></image>
        </project>
      </page>
      <page id="1073" key="834f6de7-0997-4a0a-9ec8-fb44cf2585b2" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2017-09-21T16:22:30" updateDate="2017-09-21T16:48:43" nodeName="Contact" urlName="contact" path="-1,1068,1069,1073" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[Contact me subheading]]></subheading>
        <heading><![CDATA[Contact me]]></heading>
        <content><![CDATA[<p>some info about my contacts</p>]]></content>
      </page>
    </home>
  </webPage>
</root>