@model IEnumerable<IPublishedContent>
@{
    Layout = null;
}
<style>
  
</style>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var skill in Model)
        {
            <div class="col-sm-2 col-md-4 card-holder">
                <div class="skill-card">
                    <header class="skill-card__header">
                        <img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo"/>
                    </header>
                    <div class="skill-card__body">
                        <h3 class="skill-card__title">html</h3>
                        <span class="skill-card__duration">6 ans d'expérience</span>
                        <ul class="skill-card__knowledge">
                            <li>HTML5</li>
                            <li>Sémantique</li>
                            <li>SVG</li>
                            <li>Canvas</li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
}
