@model IEnumerable<IPublishedContent>
@{
    Layout = null;
}
<style>
  
</style>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var skill in Model)
        {
            var src = string.Empty;
            if (skill.HasValue("image"))
            {
                src = skill.GetPropertyValue<IPublishedContent>("image").Url;
            }
            <div class="col-sm-2 col-md-3">
                <div class="skill-card">
                    <header class="skill-card__header">
                        <img class="skill-card__icon" src="@src" alt="Logo"/>
                    </header>
                    <div class="skill-card__body">
                        <h3 class="skill-card__title">@(skill.GetPropertyValue<string>("heading"))</h3>
                        <span class="skill-card__duration">@(skill.GetPropertyValue<string>("years"))+ years of experience</span>
                        <div class="skill-card__knowledge">
                           @Html.Raw(skill.GetPropertyValue<string>("content"))
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
