<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT navigationLink ANY>
<!ATTLIST navigationLink id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT project ANY>
<!ATTLIST project id ID #REQUIRED>
<!ELEMENT webPage ANY>
<!ATTLIST webPage id ID #REQUIRED>
]>
<root id="-1">
  <webPage id="1068" key="6633b1b7-4b84-4358-8c2e-41e688be2af3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-25T13:18:29" updateDate="2017-09-21T15:51:10" nodeName="Portfolio" urlName="portfolio" path="-1,1068" isDoc="" nodeType="1067" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="webPage">
    <mountainShadowColor><![CDATA[ #008081]]></mountainShadowColor>
    <backgroundColor><![CDATA[#fffbdf]]></backgroundColor>
    <keyColor><![CDATA[#fef764]]></keyColor>
    <secondaryColor><![CDATA[#8fd2d5]]></secondaryColor>
    <mountainDarkColor><![CDATA[#0d4d5e ]]></mountainDarkColor>
    <skyGreadient><![CDATA[0deg, #D6FBFF 2%, #D6FBFF 3%, #d6fbff 11%, #008080 46%, #008080 47%]]></skyGreadient>
    <home id="1069" key="db17cbe1-bf4c-403b-8781-3ab459e27570" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2017-08-25T15:13:01" updateDate="2017-08-25T15:35:20" nodeName="test" urlName="test" path="-1,1068,1069" isDoc="" nodeType="1061" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="1060" nodeTypeAlias="home">
      <subheading><![CDATA[Test Subheading]]></subheading>
      <heading><![CDATA[Test Heading]]></heading>
      <page id="1071" key="e0dac3ef-4051-4070-b057-3931bd2dd1ac" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2017-09-21T16:21:16" updateDate="2017-09-21T16:21:16" nodeName="About" urlName="about" path="-1,1068,1069,1071" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[About me subheading]]></subheading>
        <heading><![CDATA[About me]]></heading>
        <content><![CDATA[<p>some about me content</p>]]></content>
      </page>
      <page id="1072" key="48e51638-dce9-46a9-9ca6-71a5b3604288" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2017-09-21T16:21:54" updateDate="2017-09-21T16:21:54" nodeName="Work" urlName="work" path="-1,1068,1069,1072" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[My work subheading]]></subheading>
        <heading><![CDATA[My work]]></heading>
        <content><![CDATA[<p>some work text</p>]]></content>
        <project id="1076" key="7cecb547-dd6a-4d23-a7a0-5b37557d6446" parentID="1072" level="4" creatorID="0" sortOrder="0" createDate="2017-09-21T16:24:33" updateDate="2017-09-21T16:26:00" nodeName="Realocate" urlName="realocate" path="-1,1068,1069,1072,1076" isDoc="" nodeType="1066" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="project">
          <subheading><![CDATA[ASP.net mvc 5 app subheaading ]]></subheading>
          <heading><![CDATA[ASP.net mvc 5 app]]></heading>
          <demoURL><![CDATA[http://realocatechezza.azurewebsites.net/]]></demoURL>
          <codeURL><![CDATA[https://github.com/MichaelaIvanova/ReaLocate]]></codeURL>
          <image><![CDATA[umb://media/cdf3c90c4d2345edab5f3df1c532b8f1]]></image>
        </project>
        <project id="1078" key="62c5e55b-d97c-4955-8779-c969fef0724d" parentID="1072" level="4" creatorID="0" sortOrder="1" createDate="2017-09-21T16:28:12" updateDate="2017-09-21T16:28:35" nodeName="Seo Analyser" urlName="seo-analyser" path="-1,1068,1069,1072,1078" isDoc="" nodeType="1066" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="project">
          <subheading><![CDATA[Seo Analyser subheading ]]></subheading>
          <heading><![CDATA[Seo Analyser]]></heading>
          <content><![CDATA[<p>some info</p>]]></content>
          <demoURL><![CDATA[http://seoanalyzer.azurewebsites.net/]]></demoURL>
          <codeURL><![CDATA[https://github.com/MichaelaIvanova/Seo-Analyzer]]></codeURL>
          <image><![CDATA[umb://media/ec48219c37ed4a0494b25e0cb17cae0f]]></image>
        </project>
      </page>
      <page id="1073" key="834f6de7-0997-4a0a-9ec8-fb44cf2585b2" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2017-09-21T16:22:30" updateDate="2017-09-21T16:22:30" nodeName="Contact" urlName="contact" path="-1,1068,1069,1073" isDoc="" nodeType="1065" creatorName="Michaela Ivanova" writerName="Michaela Ivanova" writerID="0" template="0" nodeTypeAlias="page">
        <subheading><![CDATA[Contact me subheading]]></subheading>
        <heading><![CDATA[Contact me]]></heading>
        <content><![CDATA[<p>some info about my contacts</p>]]></content>
      </page>
    </home>
  </webPage>
</root>